fastapi
uvicorn
scikit-learn
pandas
joblib
numpy
pydantic
pydantic[email]
python-multipart
python-dotenv
pytest
pytest-cov
pytest-mock
pytest-asyncio
httpx
fastapi[all]
fastapi-users
fastapi-users[sqlalchemy]
fastapi-users[beanie]
